.about{
    background-color: #87a2cc;
    height:120vmin;
}
.about img{
    width:300px;
    height:300px;
    border-radius: 5px;
    position:relative;
    left:375px;
    top:107px;
}

.about img:hover{
    opacity:0.8;
    cursor:help;
}

.details{
    color:black;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    position:relative;
    left:200px;
    bottom:250px;
}
.cloud{
    color:rgb(249, 249, 253);
    text-shadow:1px 1px black;
}
.tech{
    list-style-type:square;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-weight:600;
    position:relative;
    left:200px;
    bottom:200px;
    color:black;
}
.mtech{
    list-style-type:square;
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-weight:600;
    position:relative;
    left:420px;
    bottom:316px;
    color:black;
}

#imageTip{
    opacity:1;
    background: black;
}