#crd{
  margin-left:auto;
  margin-right:auto;
}
#me{
  width:400px;
  height:400px;
}

.cloud{
  position:relative;
  left:8px;
}
  
#lst {
  list-style-type: none;
}

@media screen and (min-width:495px)
{
  #crd{
    width:500px;
  }
  article{
    white-space: wrap;
    font-size:22px;
    text-align-last:left;
    padding-bottom:25px;
  }
}

@media screen and (max-width:494px)
{
  article{
    white-space: wrap;
    font-size:5vw;
    text-align:start;
    text-align-last:left;
    line-height: 1.2;
  }
  #proj{
   position:relative;
   left:2px !important;
}
#java{
  text-align: justify;
  position:relative;
  left:2px !important;
}
#lang{
  position: inherit;
  left:2px !important;
}
#around{
  position: inherit;
  right:2px !important;
}
#soft{
  position:inherit;
  left:2px !important;
}
#as{
  position:inherit;
  right:2px !important;
}
}
