#crd{
  margin-left:auto;
  margin-right:auto;
}
#me{
  width:400px;
  height:400px;
}
  
#lst {
  list-style-type: none;
}

#pi {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#python{
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
}

#esp32{
  text-decoration: none;
  color: crimson;
  font-weight: bold;
}

#stm32{
  text-decoration: none;
  color: goldenrod;
  font-weight: bold;
}
/*Desktop*/
@media screen and (min-width:495px)
{
  #crd{
    width:500px;
  }
  article{
    white-space: wrap;
    font-size:1.2vw;
    text-align:left;
    padding-bottom:25px;
    margin:0;
  }
  .hello{
    position:relative;
    left:6px !important;
  }
  .period{
    display:none;
  }
}
/*Tablet*/
@media screen and (min-width:495px) and ( max-width:950px)
{
  #crd{
    width:500px;
  }
  article{
    white-space: wrap;
    font-size:2vw;
    text-align:left;
    padding-bottom:25px;
    margin:0;
  }
  .hello{
    position:relative;
    left:6px !important;
  }
  .period{
    display:none;
  }
}
/*Mobile*/
@media screen and (max-width:494px)
{
  article{
    white-space: wrap;
    font-size:5vw;
    text-align:start;
    text-align-last:left;
    line-height: 1.2;
  }
  .cloud{
    display:none;
  }
}
