.menu {
    list-style-type: none;
    left:0;
    right:0;
    padding:16px;
    overflow: hidden;
    position:absolute;
    bottom:480px;
    font-size:20px;
    display:flex;
  }
  
  .item {
    float: right;
    display:flex;
  }
  
 .item a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 .item button{
    display:block;
    text-align:center;
  }
  
  .item a:hover {
    background-color: #111;
  }

  .Resume{
    border: 2px solid #0c1d3b;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgb(94, 88, 35);
  }
  .Resume:hover{
    background-color: #70720d;
  }


  .active {
    background-color: #70720d;
  }
  .tp{
    color:white;
  }
  /* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .menu {   
    flex-direction: column;
  }
}

  html {
    scroll-behavior: smooth;
}