@media screen and (min-width:495px)
{
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #080c13;
    display:flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right:0;
    width: 12%;
    z-index:300;
  }
  
  .item {
    float: right;
  }
  
  .item a{
    padding: 5px 5px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: #fff;
    text-align: center;
  }
}

.item a:hover {
  background-color: rgb(125, 145, 53);
}

@media screen and (max-width:494px)
{
  .menu{
    display:none;
  }
}
