.projects{
  overflow-x: hidden;
  background-color: #f0f0fc;
}
.projects h1{
  position:relative;
  right:350px;
}

.slider{
  margin: 60px auto;
  width: 500px;
}

.featured{
  position:relative;
  left:350px;
  bottom:450px;
}

.featured a{
  text-decoration: none;
  color:crimson;
}

.featured button{
  padding:10px;
  border-radius: 5px;
}

.featured button:hover{
  background-color: rgb(165, 157, 42);
}

.slick-prev {
  left: 30% !important;
  z-index: 1;
  background-color: black;
  border-radius: 18px;
}
.slick-next {
  right: 30% !important;
  z-index: 1;
  background-color: black;
  border-radius: 18px;
}

.slick-prev:hover{
  background-color: green;
}

.slick-next:hover{
  background-color: green;
}


