.scroll-fixed-container {
    position: fixed;
    left: 0;
    right: 0;
    padding: 16px;
    background: #080c13 !important;
    z-index: 300;
    color: white;
    text-align: right;
    font-size:20px;
    transition: transform 200ms ease-out;
    border:none;
    box-shadow: none;
  }
  
  .scroll-fixed-container--top {
    top: 0;
    transform: translateY(-100%)
  }

  .item {
    float: right;
    list-style-type:none;
  }
  
 .item a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 .item button{
    display:block;
    text-align:center;
  }
  
  .item a:hover {
    background-color: #111;
  }

  .Resume{
    border: 2px solid #0c1d3b;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgb(94, 88, 35);
  }
  .Resume:hover{
    background-color: #70720d;
  }


  .active {
    background-color: #70720d;
  }
  .tp{
    color:white;
  }
  html {
    scroll-behavior: smooth;
}

.Page-logo {
  height: 15vmin;
  pointer-events: none;
  float:left;
}

@media (prefers-reduced-motion: no-preference) {
  .Page-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.Icon-place{
  display:flex;
  background-color: #080c13;
  position:absolute;
  bottom:400px;
}

@keyframes Page-logo-spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
  
  