.App {
  background-color: #080c13;
  height:30vmin;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  float:left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.Logo-place{
  display:flex;
  background-color: #080c13;
}

.App-header {
  background-color: #05378d;
  min-height: 50vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 10px;
  margin-left: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
